@font-face {
    font-family: "RocketRinder"; /* Choose a descriptive name for your font */
    src: url("./RocketRinder-yV5d.ttf") format("truetype"); /* Adjust the path to your font file */
    font-weight: normal; /* Specify the font weight if applicable */
    font-style: normal; /* Specify the font style if applicable */
}

body {
  margin: 0;
  font-family: "RocketRinder", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
